/*
  mint/blauw: #B2DACD
  goud: #BCA04A
  donkerblauw: #4F5D75
*/

@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?oh2ava");
  src: url("fonts/icomoon.eot?oh2ava#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?oh2ava") format("truetype"),
    url("fonts/icomoon.woff?oh2ava") format("woff"),
    url("fonts/icomoon.svg?oh2ava#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cart1:before {
  content: "\e93b";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-mail2:before {
  content: "\ea84";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-cart:before {
  content: "\e93a";
}

* {
  font-family: "Raleway", sans-serif;
}

/*Body*/
body {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

/*Nav Mobile*/ /*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_mobile_navbar*/
.topnav {
  overflow: hidden;
  z-index: 2;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
}

.topnav #myLinks {
  display: none;
  list-style: none;
  padding: 0;
}

.topnav a {
  color: #bca04a;
  padding: 0.875rem 1rem;
  text-decoration: none;
  font-size: 1.25em;
  font-weight: 400;
  display: block;
}

.topnav a.icon {
  background-color: white;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  color: #bca04a;
}

.color a:hover {
  background-color: #b2dacd;
}

#active {
  color: #bca04a;
}

.navDesktop {
  display: none;
}

/*Einde Nav Mobile*/

/*Footer Mobile*/
footer {
  background-color: #b2dacd;

  color: white;
  width: 100%;
}

footer p {
  font-weight: 400;
  font-size: 1em;
  color: white;
}

footer .taal ul {
  list-style: none;
  padding: 1em 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.taal {
  width: 87%;
  margin: auto;
}


footer li {
  display: inline-block;
}

/* footer .icons {
  display: inline-block;
} */

footer .icons a {
  color: #ffffff;
}

footer .icons li:nth-child(even) a {
  padding: 0 0.875rem;
}

#taal {
  border: none;
  color: #ffffff;
  background-color: #b2dacd;
}

#taal option {
  color: #000000;
  background-color: #ffffff;
}

/*Einde Footer Mobile*/

/*Home*/
main {
  width: 90%;
  margin: auto;
  margin-top: 6.25rem;
}

.startHome img {
  display: none;
}

.startHome h1 {
  color: #b2dacd;
  font-size: 2em;
  font-weight: 500;
}
.startHome span {
  color: #bca04a;
  font-size: 100%;
  font-weight: 600;
}
.startHome {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 3.125rem;
}

.productHome {
  margin-bottom: 3.125rem;
}
.productHome h1 {
  color: #bca04a;
  font-size: 1.5625em;
  font-weight: 500;
}

.taartHome img {
  position: relative;
}

.taartHome img:first-of-type {
  position: relative;
  width: 70%;
  padding-left: 15%;
}

.taartHome .taarthome {
  position: absolute;
  width: 55%;
  left: 21vw;
}

.infoTaart h3 {
  color: #bca04a;
  font-weight: 800;
  margin-bottom: 1vh;
}

.infoTaart p {
  color: #4f5d75;
  font-weight: 400;
  font-size: 1.05em;
  margin-bottom: 3vh;
  width: 64%;
  text-align: center;
}

.productKoekKnopHome {
  border: 0.125rem solid #bca04a;
  padding: 0.75rem 0.75rem;
  text-decoration: none;
  display: inline-block;
  font-size: 0.875em;
  text-align: center;
  background-color: white;
  color: #4f5d75;
}

.productTaartKnopHome {
  border: 0.125rem solid #b2dacd;
  padding: 0.75rem 0.75rem;
  text-decoration: none;
  display: inline-block;
  font-size: 0.875em;
  text-align: center;
  background-color: white;
  color: #4f5d75;
}

.taartHome figure {
  height: 100%;
  position: relative;
  margin: 0;
}

.taartHome figcaption {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 6%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*SlideShow*/ /*https://www.w3schools.com/howto/howto_js_slideshow.asp*/

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.dot {
  cursor: pointer;
  height: 1.5625rem;
  width: 1.5625rem;
  margin: 1.25rem 0.125rem 0;
  background-color: white;
  border: 0.125rem solid rgb(188, 160, 74, 0.5);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #bca04a;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/*EindSlideShow*/

.actieHome h1 {
  color: #bca04a;
  font-weight: 500;
  font-size: 1.5625em;
}

.actieHome img {
  display: none;
}

.actieHome article {
  font-weight: 400;
  font-size: 0.875em;
}

.actieHome .laatste {
  font-weight: 400;
  font-size: 0.875em;
}

.doeMeeKnopHome {
  margin-top: 0.9375rem;
  border: 0.125rem solid #bca04a;
  padding: 0.9375rem 0.9375rem;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  position: absolute;
  background-color: white;
  color: #4f5d75;
  font-weight: 500;
  left: 6.39625vw;
}
/*Einde Home*/

/*About*/
.wieAbout h1 {
  color: #bca04a;
  font-size: 1.5625rem;
  font-weight: 500;
}

.wieAbout img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.wieAbout p {
  color: #4f5d75;
  font-weight: 400;
  font-size: 0.875em;
}

.doorAbout h1 {
  margin-top: 50px;
  color: #bca04a;
  font-size: 1.5625rem;
  font-weight: 500;
}

.doorAbout p {
  color: #4f5d75;
  font-weight: 400;
  font-size: 0.875em;
}
.doorAbout .eenAbout {
  margin-bottom: 1.25rem;
}

/*Eind About*/

/*Contact*/

.allesContact {
  display: flex;
  flex-direction: column;
}

.allesContact h1 {
  margin-top: 0;
  margin-bottom: 1.296875rem;
  color: #bca04a;
  font-size: 1.5625rem;
  font-weight: 500;
}

.voornaamContact label {
  padding-right: 0.625rem;
  font-size: 1em;
  color: #4f5d75;
  font-weight: 500;
}
.voornaamContact {
  padding-bottom: 1.25rem;
}
.naamContact label {
  padding-right: 2.596875rem;
  font-size: 1em;
  color: #4f5d75;
  font-weight: 500;
}
.naamContact {
  padding-bottom: 1.25rem;
}
.e-mailContact label {
  padding-right: 2.4375rem;
  font-size: 1em;
  color: #4f5d75;
  font-weight: 500;
}
.e-mailContact {
  padding-bottom: 1.25rem;
}

.berichtContact label {
  font-size: 1em;
  color: #4f5d75;
  font-weight: 500;
}
.berichtContact {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.25rem;
}

#contactWinkelSubmit {
  border: 0.125rem solid #b2dacd;
  background-color: white;
  color: #4f5d75;
  width: 40%;
  padding: 0.75rem;
  font-weight: 500;
  font-size: 0.875em;
  margin-bottom: 1.5625rem;
}

.knopContact {
  text-align: center;
  margin-bottom: 3.125rem;
}

#doeMeeKnopHome {
  display: inline-block;
  text-align: center;
  margin-left: 55vw;
  margin-top: 0.9375rem;
  border: 0.125rem solid #bca04a;
  padding: 0.9375rem 0.9375rem;
  text-decoration: none;
  font-size: 1rem;
  background-color: white;
  color: #4f5d75;
  font-weight: 500;
  left: 6.39625vw;
  margin-bottom: 1.25rem;
}

/*Eind Contact*/

/*Winkel*/

.formulierWinkel {
  display: flex;
  flex-direction: column;
}

.formulierWinkel h1 {
  margin-top: 0;
  margin-bottom: 1.296875rem;
  color: #bca04a;
  font-size: 1.5625rem;
  font-weight: 500;
}

.voornaamWinkel label {
  padding-right: 0.625rem;
  font-size: 1em;
  color: #4f5d75;
  font-weight: 500;
}
.voornaamWinkel {
  padding-bottom: 1.25rem;
}
.naamWinkel label {
  padding-right: 2.596875rem;
  font-size: 1em;
  color: #4f5d75;
  font-weight: 500;
}
.naamWinkel {
  padding-bottom: 1.25rem;
}
.e-mailWinkel label {
  padding-right: 2.4375rem;
  font-size: 1em;
  color: #4f5d75;
  font-weight: 500;
}
.e-mailWinkel {
  padding-bottom: 1.25rem;
}

.telefoonWinkel label {
  padding-right: 1.3125rem;
  font-size: 1em;
  color: #4f5d75;
  font-weight: 500;
}
.telefoonWinkel {
  padding-bottom: 1.25rem;
}
.calender label {
  font-size: 1em;
  color: #4f5d75;
  font-weight: 500;
  padding-right: 1.2rem;
  padding-bottom: 1.25rem;
}
.kalenderWinkel {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.25rem;
}

.knopWinkel {
  text-align: center;
}

.artikelsWinkel {
  font-size: 1em;
  color: #4f5d75;
  font-weight: 500;
  margin-top: 2rem;
}

.artikelsWinkel label {
  padding-bottom: 0.9375rem;
}

.artikelsWinkel table {
  margin-top: 0.9375rem;
  font-weight: 400;
}

.imgTotal {
  font-weight: 500;
}
/*Einde Winkel*/

/*Begin Product*/

.productMainDesktop {
  display: none;
}

.productMain aside {
  background-color: #e8f5f0;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

.productMain aside section {
  padding: 1rem;
}

.productMain aside section h3 {
  padding-top: 0.2rem;
}

.productMain .container {
  display: inline-flex;
}

.productMain .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.productMain .container p::after {
  content: " | ";
}

.productMain .container label:last-of-type {
  content: "";
}

.kaders .productenlijst:nth-child(2) {
  padding: 60px 0px;
  margin: auto;
}

.kaders .productenlijst figure img {
  width: 100%;
}

.kaders .productenlijst figure img:nth-child(2) {
  width: 10%;
  position: absolute;
}

.kaders .productenlijst h2 {
  padding-top: 2vh;
  font-size: 3em;
  margin-left: 40px;
  color: #bca04a;
}

.kaders .productenlijst section {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.kaders .productenlijst figure {
  background-color: #ccb0642d;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 1rem;
}

.kaders .productenlijst figcaption {
  text-align: left;
  color: #4f5d75;
  margin: 10px;
}

.kaders .productenlijst figure img:nth-child(2) {
  width: 10%;
  position: absolute;
}

.kaders .productenlijst figure h3 {
  font-size: 18px;
  margin-top: 10px;
}

.kaders .productenlijst figure h3 span {
  font-size: 14px;
}

.kaders .productenlijst figure h3:first-of-type {
  color: #b1835c;
}

.kaders .productenlijst figcaption section {
  margin-bottom: 10px;
  justify-content: space-between;
}

.kaders .productenlijst figcaption section p {
  font-weight: 600;
}

.kaders .productenlijst figure p {
  font-size: 15px;
  margin: 10px 0 10px 0;
}

.kaders .productenlijst figure button {
  background-color: rgba(255, 0, 0, 0);
  border: 0px solid black;
  text-decoration: underline;
  color: #4f5d75;
  cursor: pointer;
}

#meer {
  display: none;
}

.kaders .productenlijst figure a {
  display: table;
  color: #4f5d75;
  font-weight: 800;
  background-color: white;
  border: 1px solid #4f5d75;
  padding: 8px 5px;
  margin-top: 10px;
  font-size: 13px;
}

.kaders .productenlijst figure a:hover {
  color: white;
  background-color: #4f5d75;
  font-weight: 500;
  transition: 0.4s;
}

.kaders .productenlijst figure a i {
  font-weight: 600;
  margin: 2px 0px 0px 3px;
}

/*Eind Product*/

/*Uitzetting van desktop*/

.bollenNavHome {
  display: none;
}
.productHomeDesktop {
  display: none;
}
#doeMeeKnopDesktopHome {
  display: none;
}

#contactDesktopMain {
  display: none;
}

.formulierWinkelDesktop {
  display: none;
}
#ArtikelsDesktop {
  display: none;
}

#aboutDesktop {
  display: none;
}

.productMainDesktop {
  display: none;
}

#alleProducten {
  display: flex;
  flex-wrap: nowrap;
}

.footerBarcode {
  position: absolute;
  bottom: 0;
}

.bargift {
  width: 40%;
  position: absolute;
  bottom: 9%;
  left: 28%;
}

.win {
  margin-left: 18vw;
  margin-top: 15vh;
  color: #bba247;
}

.volledigbox {
  width: 60%;
  height: 30%;
  background: #ccb0642d;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 20%;
  top: 30%;
}

.volledigbox h2 {
  font-size: 1.2em;
  padding-left: 3vw;
  padding-top: 1vh;
  width: 90%;
  color: #b1835c;
}

.eerstetekst {
  font-size: 12px;
  color: #4f5d75;
  margin-top: 2vh;
}

.code_form {
  padding: 10px 20px;
}

.code_form input {
  margin-top: 1vh;
  height: 40px;
  width: 100%;
  padding: 0 5px;
  font-size: 18px;
  outline: none;
  border: 1px solid #4f5d75;
}

.code_form button {
  margin-top: 3vh;
  padding: 3%;
  width: 50%;
  font-size: 12px;
  color: #4f5d75;
  outline: none;
  font-weight: bold;
  background: white;
  border-radius: 3px;
  border: 1px solid #4f5d75;
  transition: 0.5s;
}

.code_form #debarcode_error {
  margin-top: 5px;
  width: 98%;
  font-size: 12px;
  color: #c62828;
  background: rgba(255, 0, 0, 0.1);
  text-align: center;
  padding: 5px 8px;
  border-radius: 3px;
  border: 1px solid #ef9a9a;
  display: none;
}

.losefoot {
  position: absolute;
}

/*Eind uitzetting van desktop*/

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1025px) {
  /*
===============================
Navigation
===============================
*/
  .topnav {
    display: none;
  }

  .navDesktop {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navDesktop ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    list-style: none;
  }
  .navDesktop img {
    width: 8%;
  }

  .navDesktop li {
    margin: 0rem 0.5rem 0rem 0.7rem;
    width: 15%;
    text-align: center;
  }

  .navDesktop a {
    font-weight: 500;
    color: #bca04a;
    font-size: 1.5em;
    text-decoration: none;
  }

  .navDesktop p {
    font-size: 1em;
    padding-right: 0.625rem;
  }

  .active::before {
    content: url("./img/Diamond-Active.png");
    margin-right: 0.0625rem;
  }

  .active {
    background-color: transparent;
  }
  /* 
===============================
Body
=============================== 
*/
  main {
    margin-bottom: 0px;
  }
  /*
===============================
Home Section-1
===============================
*/
  .bollenNavHome {
    display: block;
    padding-left: 2.1875rem;
    margin-bottom: 0.75rem;
    cursor: pointer;
    font-size: 1.375em;
    user-select: none;
    position: sticky;
    right: 0;
    color: transparent;
  }

  .startHome {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .startHome img {
    display: block;
    width: 40%;
    height: auto;
  }

  .startHome h1 {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 4.5em;
  }

  .startHome span {
    font-weight: 500;
    font-size: 4.5rem;
  }

  .bollenHome a {
    text-decoration: none;
  }

  .bollenNavHome input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .bollenHome {
    position: fixed;
    right: 1.75vw;
    top: 50vh;
  }

  .checkmark {
    position: absolute;
    top: 0;
    right: 0;
    height: 1.5625rem;
    width: 1.5625rem;
    background-color: #b2dacd;
    border-radius: 50%;
    transition: 0.2s;
  }

  .checkmark:hover {
    background-color: #bba24781;
    transition: 0.4s;
    border-radius: 50%;
  }

  .bollenNavHome:active input:active ~ .checkmark {
    background-color: #bba24781;
  }
  #homeone {
    margin-bottom: 9.375rem;
  }

  /*
===============================
Home Section-2
===============================
*/

  .productHome {
    display: none;
  }
  .productHomeDesktop {
    display: block;
  }

  .productHomeDesktop h1 {
    color: #bca04a;
    font-size: 4.5em;
    font-weight: 500;
    margin: 9% 0 7.5%;
    padding-top: 1%;
  }

  .taartHomeDesktop {
    width: 40%;
  }

  .taartHomeDesktop img {
    position: relative;
  }

  .taartHomeDesktop img:first-of-type {
    position: relative;
    width: 70%;
    padding-left: 15%;
  }

  figure figcaption img.cupcakeDesktop {
    padding-bottom: 4%;
    width: 65%;
  }

  .taartHomeDesktop .taarthomeDesktop {
    position: absolute;
    width: 55%;
    padding-left: 0px;
  }

  .infoTaartDesktop h3 {
    color: #bca04a;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 1vh;
  }

  .infoTaartDesktop p {
    color: #4f5d75;
    font-weight: 400;
    font-size: 1.05em;
    margin-bottom: 3vh;
    width: 64%;
    text-align: center;
  }

  .productKoekKnopHomeDesktop {
    border: 0.125rem solid #bca04a;
    padding: 0.55rem 1.5rem;
    text-decoration: none;
    display: inline-block;
    font-size: 0.875em;
    text-align: center;
    background-color: white;
    color: #4f5d75;
    transition: 0.2s;
  }

  .productKoekKnopHomeDesktop:hover {
    color: white;
    background-color: #bca04a;
    border: 0.125rem solid #bca04a;
    transition: 0.4s;
  }

  .productTaartKnopHomeDesktop {
    border: 0.125rem solid #b2dacd;
    padding: 0.55rem 1.5rem;
    text-decoration: none;
    display: inline-block;
    font-size: 0.875em;
    text-align: center;
    background-color: white;
    color: #4f5d75;
    transition: 0.2s;
  }

  .productTaartKnopHomeDesktop:hover {
    color: white;
    background-color: #b2dacd;
    border: 0.125rem solid #b2dacd;
    transition: 0.4s;
  }

  .taartHomeDesktop figure {
    height: 100%;
    position: relative;
    margin: 0;
  }

  .taartHomeDesktop figcaption {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .naastHomeDesktop {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  #hometwo {
    margin-bottom: 9.375rem;
  }

  /*
===============================
Home Section-3
===============================
*/

  .actieHome img {
    display: inline-block;
    width: 40%;
    padding: 1rem;
  }

  .samenHome3 h1 {
    font-weight: 500;
    font-size: 4.5em;
    margin-bottom: 0.625rem;
  }

  #homethree {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 8%;
  }

  #homethree .samenHome3 {
    display: flex;
    flex-direction: column;
    padding-left: 8%;
    width: 80%;
  }
  #homethree p {
    font-size: 0.9375rem;
    font-weight: 400;
  }

  #doeMeeKnopHome {
    display: none;
  }

  #doeMeeKnopDesktopHome {
    display: inline-block;
    width: 20%;
    text-align: center;
    margin-left: 31vw;
    margin-top: 0.9375rem;
    border: 0.125rem solid #bca04a;
    padding: 0.9375rem 0.9375rem;
    text-decoration: none;
    font-size: 1rem;
    background-color: white;
    color: #4f5d75;
    font-weight: 500;
    left: 6.39625vw;
    margin-bottom: 1.25rem;
    transition: 0.3s;
  }

  #doeMeeKnopDesktopHome:hover {
    display: inline-block;
    width: 20%;
    text-align: center;
    margin-left: 31vw;
    margin-top: 0.9375rem;
    border: 0.125rem solid #4f5d7500;
    padding: 0.9375rem 0.9375rem;
    text-decoration: none;
    font-size: 1rem;
    background-color: #bca04a;
    color: white;
    font-weight: 500;
    left: 6.39625vw;
    margin-bottom: 1.25rem;
    transition: 0.6s;
  }

  /* 
===============================
Producten
=============================== 
*/

  .productMain {
    display: none;
  }

  .productMainDesktop {
    display: flex;
    width: 80%;
    margin: auto;
    padding: 70px 0px;
  }

  .productMainDesktop aside {
    display: flex;
    flex-direction: column;
    height: 550px;
    background-color: #e8f5f0;
    margin-right: 50px;
    padding: 0px 80px 0px 50px;
    max-width: 25%;
  }

  .productMainDesktop .container {
    display: flex;
    margin: 10px 0px 0px 10px;
  }

  .productMainDesktop aside h2 {
    padding-top: 3vh;
    font-size: 2em;
    margin-bottom: 10px;
    color: #3f3f3f;
  }

  .productMainDesktop aside h3 {
    padding-top: 1vh;
    font-size: 24px;
    margin-bottom: 15px;
    color: #3f3f3f;
  }

  .productMainDesktop aside p {
    margin-left: 10px;
    margin-top: -4px;
    padding: 2px;
    color: #3f3f3f;
  }
  .product-main-2 a,
  .product-main-2 span {
    color: #c1aea7;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
  }

  .kadersDesktop .productenlijstDesktop .soortenDesktop {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
  }

  .kadersDesktop .productenlijstDesktop:nth-child(2) {
    padding: 60px 0px;
    margin: auto;
  }

  .kadersDesktop .productenlijstDesktop h2 {
    padding-top: 2vh;
    font-size: 3em;
    margin-left: 40px;
    color: #c1aea7;
  }

  .kadersDesktop .productenlijstDesktop section {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }

  .kadersDesktop .productenlijstDesktop figure {
    background-color: #ccb0642d;
    display: flex;
    flex-direction: column;
    max-width: 26%;
    padding: 20px;
    margin: 0.5rem;
  }

  .kadersDesktop .productenlijstDesktop figcaption {
    text-align: left;
    color: #4f5d75;
    margin: 10px;
  }

  .kadersDesktop .productenlijstDesktop figure img {
    width: 100%;
    position: relative;
  }

  .kadersDesktop .productenlijstDesktop figure img:nth-child(2) {
    width: 10%;
    position: absolute;
  }

  .kadersDesktop .productenlijstDesktop figure h3 {
    font-size: 18px;
    margin-top: 10px;
  }

  .kadersDesktop .productenlijstDesktop figure h3 span {
    font-size: 14px;
  }

  .kadersDesktop .productenlijstDesktop figure h3:first-of-type {
    color: #b1835c;
  }

  .kadersDesktop .productenlijstDesktop figcaption section {
    margin-bottom: 10px;
    justify-content: space-between;
  }

  .kadersDesktop .productenlijstDesktop figcaption section p {
    font-weight: 600;
  }

  .kadersDesktop .productenlijstDesktop figure p {
    font-size: 15px;
    margin: 10px 0 10px 0;
  }

  .kadersDesktop .productenlijstDesktop figure button {
    background-color: rgba(255, 0, 0, 0);
    border: 0px solid black;
    text-decoration: underline;
    color: #4f5d75;
    cursor: pointer;
  }

  #meer {
    display: none;
  }

  .kadersDesktop .productenlijstDesktop figure a {
    text-decoration:none;
    display: table;
    color: #4f5d75;
    font-weight: 800;
    background-color: white;
    border: 1px solid #4f5d75;
    padding: 8px 5px;
    margin-top: 10px;
    font-size: 13px;
  }

  .kadersDesktop .productenlijstDesktop figure a:hover {
    color: white;
    background-color: #4f5d75;
    font-weight: 500;
    transition: 0.4s;
  }

  .kadersDesktop .productenlijstDesktop figure a i {
    font-weight: 600;
    margin: 2px 0px 0px 3px;
  }

  /*
===============================
About
===============================
*/
  #aboutMobile {
    display: none;
  }

  #aboutDesktop {
    display: inline-block;
  }

  /*
===============================
About
===============================
*/
  .deeleen {
    display: flex;
    padding: 2% 5% 5% 5%;
  }

  .deeleen .frame img {
    width: 175%;
    margin-left: 10rem;
  }

  .deeleen #textone {
    margin: -3rem 0 0 20rem;
  }

  .deeleen #textone h1 {
    color: #ccb164;
    font-size: 72px;
    font-weight: 400;
  }

  .deeleen #textone p {
    color: #4f5d75;
    font-size: 18px;
    text-align: justify;
    line-height: 1.2rem;
  }

  .abouttwo {
    position: relative;
  }

  .abouttwo h1 {
    color: #ccb164;
    font-size: 72px;
    font-weight: 400;
    padding: 0 0 4rem 15rem;
  }

  .abouttwo p {
    color: #4f5d75;
    font-size: 18px;
    text-align: justify;
  }

  .abouttwo .pabouttwo {
    position: absolute;
    top: 30.5%;
    left: 17%;
    padding-right: 41%;
    line-height: 1.2rem;
  }

  .abouttwo .paboutthree {
    position: absolute;
    top: 59%;
    left: 34%;
    padding-right: 9%;
    line-height: 1.2rem;
  }

  .abouttwo .paboutthreeEn {
    position: absolute;
    top: 62%;
    left: 34%;
    padding-right: 9%;
    line-height: 1.2rem;
  }

  .abouttwo div {
    background-image: url("../illustraties/Tijdlijn2.svg");
    background-repeat: no-repeat;
    background-position: center;
    height: 550px;
    width: 100%;
    margin-left: 5%;
  }

  /*
===============================
Contact
===============================
*/

  #contactMain {
    display: none;
  }

  #contactDesktopMain {
    margin: 3.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
  }

  .contactformDesktop {
    display: flex;
    align-items: center;
    background-color: rgba(178, 218, 205, 25%);
    padding: 2.2rem;
    padding-bottom: 0;
  }

  .contactformDesktop h1 {
    margin-top: 0rem;
    margin-bottom: 1.5rem;
    font-weight: 500;
    display: flex;
    font-size: 3rem;
    color: #bca04a;
  }

  .contactformDesktop .name {
    display: inline-block;
    margin-bottom: 1.25rem;
  }

  .contactformDesktop input {
    border: none;
    margin-right: 0.625rem;
    background-color: #ffffff;
  }

  .contactformDesktop textarea {
    background-color: #ffffff;
  }

  .contactformDesktop label {
    font-weight: 500;
    font-size: 1.1875em;
    color: #4f5d75;
    padding-right: 0.625rem;
  }

  .contactformDesktop .e-mail {
    margin-bottom: 1.25rem;
    padding-top: 0.625rem;
  }

  .contactformDesktop .e-mail label {
    padding-right: 2.8125rem;
  }

  .contactformDesktop .e-mailFR {
    margin-bottom: 1.25rem;
    padding-top: 0.625rem;
  }

  .contactformDesktop .e-mailFR label {
    padding-right: 1.5rem;
  }

  .contactformDesktop .bericht {
    display: flex;
    flex-direction: column;
    padding-top: 0.625rem;
    margin-bottom: 1.25rem;
  }

  .contactformDesktop .bericht label {
    font-weight: 500;
    padding-bottom: 0.625rem;
  }

  #contactSubmit {
    position: relative;
    left: 25%;
    margin-top: 1rem;
    padding: 0.625rem;
    font-size: 1em;
    border: 0.125rem solid #b2dacd;
    margin-bottom: 1.25rem;
  }

  .mediaContact {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    width: 50%;
  }

  .mediaContact li {
    display: inline-block;
  }

  #row {
    margin-left: 22.8%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 1.25rem;
  }

  #row a {
    height: auto;
    width: 2%;
  }

  .mediaContact h1 {
    margin-top: 0;
    font-weight: 500;
    padding-bottom: 3.125rem;
    font-size: 3em;
    color: #bca04a;
  }

  .mediaContact img {
    display: inline-block;
    margin-top: 1rem;
    width: auto;
    z-index: 1;
  }

  .mediaContact .fb {
    display: inline-block;
    height: 3.5vh;
  }

  .mediaContact .insta {
    display: inline-block;
    height: 3.5vh;
  }

  .mediaContact .mail {
    height: 3vh;
    display: flex;
    align-self: center;
  }

  #footerContact {
    margin-top: 2rem;
    bottom: 0;
  }

  /* 
===============================
Winkel
=============================== 
*/
  .mainWinkel {
    width: 90%;
    margin: auto;
  }
  .formulierWinkel {
    display: none;
  }

  .naastWinkel {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .formulierWinkelDesktop {
    display: flex;
    margin-bottom: 3.125vh;
    align-items: center;
  }
  .allesDesktop {
    background-color: rgba(178, 218, 205, 25%);
    padding: 4vh 5vw;
  }

  #winkelSubmit {
    font-weight: 400;
    margin: 1rem;
    margin-left: 12.2601875rem;
    padding: 0.625rem;
    font-size: 1em;
    border: 0.125rem solid #b2dacd;
  }

  .allesDesktop h1 {
    margin-top: 0;
    font-weight: 500;
    display: flex;
    justify-content: center;
    font-size: 4.5em;
    color: #bca04a;
  }

  .allesDesktop .name {
    font-weight: 500;
    display: flex;
    flex-direction: row;
    margin-bottom: 1.25rem;
  }

  .allesDesktop .nameNlW label {
    font-weight: 500;
    padding-right: 1rem;
  }

  .allesDesktop .nameNlW {
    font-weight: 500;
    display: flex;
    flex-direction: row;
    margin-bottom: 1.25rem;
  }

  .allesDesktop .name label {
    font-weight: 500;
    padding-right: 1.9rem;
  }

  .allesDesktop input {
    font-weight: 400;
    border: none;
    margin-right: 0.625rem;
    background-color: #ffffff;
  }

  .allesDesktop textarea {
    font-weight: 400;
    background-color: #ffffff;
  }

  .allesDesktop label {
    font-weight: 500;
    color: #4f5d75;
  }

  .allesDesktop .e-mail {
    margin-bottom: 1.25rem;
    padding-top: 0.675rem;
    display: inline-block;
    flex-direction: wrap;
  }
  .allesDesktop .e-mail label {
    font-weight: 500;
    padding-right: 1.4rem;
  }

  .allesDesktop .e-mailNlW {
    margin-bottom: 1.25rem;
    padding-top: 0.675rem;
    display: inline-block;
    flex-direction: wrap;
  }
  .allesDesktop .e-mailNlW label {
    font-weight: 500;
    padding-right: 2.5rem;
  }

  .allesDesktop .e-mailFrM label {
    font-weight: 500;
    padding-right: 1.4rem;
  }

  .allesDesktop .e-mailFrM {
    margin-bottom: 1.25rem;
    padding-top: 0.675rem;
    display: inline-block;
    flex-direction: wrap;
  }

  .allesDesktop .e-mailFrM label {
    font-weight: 500;
    padding-right: 2.4rem;
  }


  .allesDesktop #labelphone {
    font-weight: 500;
    padding-right: 2.1rem;
  }

  .allesDesktop #labelNomFrM {
    font-weight: 500;
    padding-right: 4.6rem;
  }

  .allesDesktop #labelPhoneFrM{
    font-weight: 500;
    padding-right: 1.3rem;
  }

  .allesDesktop #labelnameNl {
    font-weight: 500;
    padding-right: 3.9rem;
  }

  /*
=====================
Kalender
=====================
*/

  .allesDesktop .calender {
    padding-top: 0.3125rem;
  }

  .winkelformDesktop .calender label {
    padding-bottom: 0.625rem;
    padding-right: 0.2em;
  }

  .allesDesktop .calenderFrM label {
    padding-bottom: 0.625rem;
    padding-right: 0.6em;
  }

  .allesDesktop .calenderNlW label {
    padding-bottom: 0.625rem;
    padding-right: 1.2em;
  }

  /*
  =====================
  Eind Kalender
  =====================
*/

  #ArtikelsDesktop {
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  #ArtikelsDesktop h1 {
    margin-top: 0;
    margin-top: 2.1875em;
    font-weight: 500;
    display: flex;
    justify-content: center;
    font-size: 4.5em;
    color: #bca04a;
  }

  #ArtikelsDesktop p {
    color: #4f5d75;
    font-weight: 400;
    font-size: 1em;
    display: flex;
    flex-direction: row;
  }

  .artikelsWinkelDesktop table tr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .artikelsWinkelDesktop table td:nth-child(odd) {
    margin: 0 6vw;
  }

  .mediaWinkel li {
    display: inline-block;
  }

  #row {
    margin-left: 22.8%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  #row a {
    height: auto;
    width: 2%;
  }

  .imgWinkel {
    position: relative;
    width: 40%;
    display: flex;
    text-align: right;
    z-index: 1;
  }

  #footerWinkel {
    margin-top: 2em;
    bottom: 0;
  }

  .artikelsWinkelDesktop {
    font-weight: 400;
    font-size: 1.125em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 3.75rem;
  }

  .artikelsWinkelDesktop td {
    padding: 0.875rem 0.9375rem;
  }

  .artikelsWinkelDesktop p {
    font-weight: 400;
    font-size: 1.1875em;
  }
  .imgTotalDesktop {
    font-weight: 500;
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
  }

  /* 
===============================
Barcode
=============================== 
*/

  .win {
    margin-left: 18vw;
    margin-top: 15vh;
    color: #bba247;
  }

  .volledigbox {
    width: 25%;
    height: 50%;
    background: #ccb0642d;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
    position: absolute;
    right: 15.5%;
    top: 25%;
  }

  .bargift {
    bottom: 20vh;
    position: absolute;
    width: 25%;
    margin-left: -10vh;
  }

  .volledigbox h2 {
    font-size: 1.8em;
    padding-left: 2vw;
    padding-top: 7vh;
    width: 90%;
    color: #b1835c;
  }

  .eerstetekst {
    font-size: 16px;
    color: #4f5d75;
    margin-top: 8vh;
  }

  .code_form {
    padding: 0px 40px 20px;
  }

  .code_form input {
    margin-top: 1vh;
    height: 40px;
    width: 100%;
    padding: 0 5px;
    font-size: 18px;
    outline: none;
    border: 1px solid #4f5d75;
  }

  .code_form button {
    margin-top: 5vh;
    padding: 3%;
    width: 60%;
    font-size: 20px;
    color: #4f5d75;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    background: white;
    border-radius: 3px;
    border: 1px solid #4f5d75;
    transition: 0.5s;
  }

  .code_form button:hover {
    background: rgb(214, 214, 214);
  }

  .code_form #debarcode_error {
    margin-top: 5px;
    width: 100%;
    font-size: 18px;
    color: #c62828;
    background: rgba(255, 0, 0, 0.1);
    text-align: center;
    padding: 5px 8px;
    border-radius: 3px;
    border: 1px solid #ef9a9a;
    display: none;
  }

  /*Barcode */

  /* 
===============================
Footer
=============================== 
*/
  footer {
    padding: 1em 0;
  }

  footer #footerFlo,
  footer select {
    font-size: 1.125em;
  }

  footer .icons a {
    font-size: 1.5em;
  }

  footer .taal ul {
    padding: 0;
  }

  .footerBarcode {
    position: absolute;
    margin-top: 35%;
  }
  /* footer .icons a {
    padding-right: 50%;
  } */

  /* 
===============================
Lose
=============================== 
*/

  .lost {
    overflow-x: hidden;
  }

  .losetit {
    padding-top: 6%;
    font-size: 2em;
    color: #b1835c;
    margin-left: 6%;
  }

  .losep {
    width: 47%;
    padding-top: 3vh;
    margin-left: 6%;
    text-align: left;
  }

  .prent1,
  .prent2,
  .prent3
   {
    margin-top: 10%;
    border: 0.125rem solid #bca04a;
    padding: 0.9375rem 0.9375rem;
    text-decoration: none;
    font-size: 1rem;
    background-color: white;
    width: 12%;
    display: flex;
    justify-content: center;
    color: #4f5d75;
  }

  .prent1:hover,
  .prent2:hover,
  .prent3:hover {

  margin-top: 10%;
  margin-left: 6%;
    border: 0.125rem solid #bca04a;
    padding: 0.9375rem 0.9375rem;
    text-decoration: none;
    font-size: 1rem;
    background-color: #bca04a;
    width: 12%;
    display: flex;
    justify-content: center;
    color: #4f5d75;
    transition: 0.6s;
  }


  .losefoot {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0%;
  }

  .prentjes {
    width: 47%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-left: 2.2%;
  }

  .flolose {
    position: absolute;
    width: 30%;
    right: 6%;
    top: 35%;
  }

.taartHomeDesktop img .cupcakeDesktop {
  width: 65%;
  padding-bottom: 4%;
}

.flowin {
  position: absolute;
  width: 30%;
  right: 9%;
  bottom: 30%;
}

.wintit {
  padding-top: 3vh;
  font-size: 2em;
  color: #b1835c;
  margin-left: 6%;
}

.winp {
  width: 47%;
    padding-top: 3vh;
    margin-left: 6%;
    text-align: left;
}

.winwin {
  margin-top: 10%;
  margin-left: 6%;
    border: 0.125rem solid #bca04a;
    padding: 0.9375rem 0.9375rem;
    text-decoration: none;
    font-size: 1rem;
    background-color: white;
    width: 12%;
    display: flex;
    justify-content: center;
    color: #4f5d75;
}

.winwin:hover {
  margin-top: 10%;
  margin-left: 6%;
    border: 0.125rem solid #bca04a;
    padding: 0.9375rem 0.9375rem;
    text-decoration: none;
    font-size: 1rem;
    background-color: #bca04a;
    width: 12%;
    display: flex;
    justify-content: center;
    color: #4f5d75;
    transition: 0.6s;
}


.winwin i {
padding-left: 1vw;
display: flex;
align-self: center;
}

}