.e-mailContactEn label {
    padding-right: 3rem;
  }

.voornaamWinkelEn label {
    padding-right: 4rem;
  }

  .naamWinkelEn label {
    padding-right: 1.8rem;
  }

  .e-mailWinkelEn label {
    padding-right: 3.8rem;
  }

  .telefoonWinkelEn label {
    padding-right: 3.85rem;
  }

  .calenderEn label {
    padding-right: 2.5rem;
  }


  #contactWinkelSubmit {
    margin-bottom: 2.7rem;
  }

  





